@tailwind base;
@tailwind components;
@tailwind utilities;

@import "timeline.css";
@import "blockquote.css";

.navbar-link {
  @apply text-white hover:text-gray-300 px-3 py-2 text-sm font-medium;
}

.section-heading {
  @apply text-3xl font-semibold p-3 md:pl-9 m-3 text-center md:text-left;
}

.table-head {
  @apply px-5 py-2 border border-gray-300 border-x-gray-300 text-left bg-gray-800 text-white;
}
.table-data {
  @apply px-5 py-1 border border-gray-400 border-x-gray-300;
}


.iframe-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.iframe-container .iframe {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: teal;
}